# User ID and Group ID for file permissions
# Sprawdź swoje ID używając: id $USER
PUID=1000
PGID=1000

# Timezone
TZ=Europe/Warsaw

# Transmission credentials
TRANSMISSION_USER=admin
TRANSMISSION_PASS=admin

# Jellyfin settings
JELLYFIN_PublishedServerUrl=http://localhost:8096


